.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position        : fixed;
    font-family     : Arial, Helvetica, sans-serif;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;

}

.modal-form {
    position        : absolute;
    width           : 1250px;
    height          : 600px;
    background-color: white;
}

.modal-container {
    margin-top  : 30px;
    margin-left : 30px;
    margin-right: 30px;
    height      : 100%;
    grid-gap    : 15px;
}

.modal-image {
    width : 50%;
    height: auto;
}

.modal-info {
    float     : left;
    width     : 50%;
    margin-top: 10px;
}

.modal-comments {
    width     : 50%;
    float     : right;
    max-height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.modal-input:nth-child(1) {
    margin-top: 15px;
}

.modal-input input {
    margin-top: 20px;

    width : 100%;
    height: 30px;

    background   : #FFFFFF;
    border       : 1px solid #CCCCCC;
    box-sizing   : border-box;
    border-radius: 3px;
}

.modal-submit {
    margin-top   : 19px;
    width        : 100%;
    background   : #4997D0;
    border-radius: 3px;
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 13px;
    line-height  : 20px;
    border       : none;

    height: 30px;
    color : white;
}

.modal-button__close {
    position: absolute;
    float   : right;
    top     : 12px;
    right   : 6px;
    width   : 18px;
    height  : 18px;

}

.modal-button__close::before,
.modal-button__close::after {
    position        : absolute;
    content         : ' ';
    height          : 18px;
    width           : 2px;
    background-color: #333;
}

.modal-button__close::before {
    transform: rotate(45deg);
}

.modal-button__close::after {
    transform: rotate(-45deg);
}

#modal-root {
    overflow: hidden;
    position: relative;
    z-index : 999;
}

.modal-comments__piece {
    margin-left: 20px;
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 25px;
    padding    : 10px 0;
}

@media (min-width:800px) and (max-width:1200px) {

    .modal-form {
        width : 850px;
        height: 490px;
    }

}

@media (min-width:600px) and (max-width:800px) {

    .modal {
        align-items: flex-start;
    }

    .modal-form {
        top: 181px;
    }

    .modal-comments__piece {
        font-size: 13px;
    }

    .modal-form {
        width : 619px;
        height: 425px;
    }

    .modal-image {
        width : 331px;
        height: 205px;
    }

    .modal-info {
        float: left;
        width: 331px;
    }

    .modal-comments {
        width     : calc(100% - 331px);
        max-height: calc(100% - 70px);
    }
}

@media (max-width:600px) {
    .modal-form {
        width : 100%;
        height: 100%;
    }

    .modal-image {
        width      : 100%;
        height     : auto;
        flex-shrink: 0;
    }

    .modal-info {
        width        : auto;
        margin       : 0 22px;
        margin-bottom: 20px;
        margin-top   : 10px;
    }

    .modal-container {
        display       : flex;
        flex-direction: column;
        margin        : 0;
    }

    .modal-comments {
        width      : 100%;
        overflow   : auto;
        flex-shrink: 1;
        margin-top : 15px;
    }

    .modal-comments__piece {
        font-style : normal;
        font-weight: normal;
        font-size  : 13px;
        line-height: 15px;
        margin-left: 22px;
    }
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius     : 10px;
    background-color  : #F5F5F5;
}

*::-webkit-scrollbar {
    width           : 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius     : 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color  : rgba(0, 0, 0, .8);
}

input[placeholder] {
    padding-left: 11px;
    font-family : Roboto;
    font-style  : normal;
    font-weight : normal;
    font-size   : 13px;
}